@model universidad_mvc.Models.Grupo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Grupo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semestre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semestre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantMaxEstudiantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantMaxEstudiantes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarreraCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarreraCurso.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profesor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profesor.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
